@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  max-width: 2000px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.img-box:hover h3{
  opacity: 1;
  bottom: 25px;
 }