@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  max-width: 2000px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.img-box:hover div {
  opacity: 1;
  bottom: 25px;
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    rgb(129, 140, 248, 100),
    rgb(71, 85, 105, 100)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Hide scrollbar for the entire document */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for the specific element */
section::-webkit-scrollbar {
  display: none;
}
